include ./includes/header.pug

main
    .row
        .title.col.s12.m10.offset-m1.l8.offset-l2
            h3= poll.name 
            cite.right Created by: #{poll.creator} , #{date}

    .row
        .canvas.col.s10.offset-s1.m8.offset-m2.l6.offset-l3
            canvas(id="myChart")




script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js")

script.
    const ctx = document.getElementById("myChart");
    
    let myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: "#{labels}".split(','),
            datasets: [{
                label: ['# of Votes'],
                data: "#{count}".split(',').map(x => +x),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {

        }
    });

include ./includes/footer.pug
